/*
	_content.css
*/




//--bnr-slider
.bnr-slider{
	$slider-height: 640px;
	position: relative;
	overflow: hidden;
	.flickity-slider{
		transform: inherit !important;
	}
	.bnr-carousel{
		background-color: white;
		background-repeat: no-repeat;
		position: relative;
		background-size: cover;
		background-position: center center;
	}
	figure{
		height: $slider-height;
		transition: all 2s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			.img{
				filter: blur(0);
			}
		}
	}

	.carousel-content{
		.pie-flex-center{
			height: $slider-height;
		}
	}
	//Навигация
	.flickity-page-dots{
		margin-bottom: 70px;
	}
	// Стрелки
	.flickity-prev-next-button{
		color: $color-1;
	}
	//Кастомные стрелки
	.carousel-prev-next{
		width: ingerit;
		//((100/12)*8)+%
		left: 50%;
		transform: translateX(-50%);
		.bg-wrapper{
			bottom: 0;
			position: absolute;
			background-color: $color-2;
			height: 40px; 
		}
		.next, .prev{
			color: white;
			width: 50%;
			height: 100%;
			text-align: center;
			transform: translateY(-50%);
			transition: all 0.3s ease;
			.fa{
				padding-top: 10px;
			}
			&:hover{
				background-color: $color-3;
				color: white;
			}
		}
		.prev{
			left: 0;
		}
		.next{
			right: 0;
		}
	}

	@media(max-width: 991px) {
		font-size: 0.9em;
		figure{
			height: 200px;
			.carousel-content{
				display: none;
			}
		}
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
	}
	@media(max-width:370px) {
		word-wrap: break-word;
	}
}




//--short-partners
.short-partners{
	.wrapper{
		padding: 10px 60px;
		border-radius: 30px;
		background-color: white;
	}
	.flickity-btn-1{

		.previous{
			left: -30px;
		}
		.next{
			right: -30px;
		}
	}

}
.short-partners-items{
	.img-content{
		transition: all 0.3s ease;
	}
	.is-selected{
		.img-content{
			transform: scale(1.1);
			filter: brightness(110%);
		}
	}
	.img{
		height: 120px;
		background-size: contain;
		background-position: center;
	}
}




//column-1
.column-1{
	border-radius: 30px;
}
.sitebar{
	background-color: white;
	border-radius: 15px;
	//padding: 10px 0;
	ul{
		color: $color-1;
		li{
			font-weight: 600;
			border-bottom: 1px solid rgba(black, 0.2);
			&:last-child{
				border-bottom: none;
			}
			a{
				position: relative;
				display: block;
				padding: 15px 15px;
				&:not(.collapsed){
					.fa{
						transform: rotate(90deg);
					}
				}
			}
			span{
				vertical-align: middle;
				display: block;
				@media (min-width: 992px) {
					max-width: 220px;
				}
				@media (max-width: 992px) {
					max-width: 240px;
					margin: auto;
				}

			}
			.fa{
				position: absolute;
				@extend .trans-v-center;
				width: 18px;
				text-align: center;
				height: 18px;
				right: 15px;
				font-size: 18px;
				transform-origin: 70% 30%;
				display: inline-block;
				transition: all 0.3s ease;
			}
			.collapse-content{
				color: rgba(white, 0.8);
				position: relative;
				background-color: $color-1;
				@extend .hover-underline;
				li{
					font-weight: normal;
					&:hover{
						color: white;
					}
				}
			}
		}
	}
}



//catalog
.catalog{
	background-color: white;
	border-radius: 15px;
	.select2{
		width: 100%;
	}
}
.catalog-items{
	.img{
		height: 120px;
		background-size: contain;
		background-position: center;
	}
	.wrapper{
		border: 1px solid rgba(black, 0.2);
		border-radius: 15px;
		padding: 15px;
		background-color: white;
		min-height: 320px;
	}
	.desc-content{
		min-height: 110px;
	}
	h5{

	}
}
.border-def{
	border-radius: 15px;
	border: 1px solid rgba(black, 0.2);
}
//catalog-article
.catalog-article{
	border-radius: 15px;
	background-color: white;
	padding: 0 15px;
}
.catalog-article-carousel{
	@extend .border-def;
	background-color: white;
	overflow: hidden;
	figure{
	}
	.img{
		background-size: contain;
		background-position: center;
		height: 340px;
	}
	.flickity-prev-next-button svg{
		transform: scale(0.8);
	}
}
.catalog-article-desc{
	.pie-flex-center{
		border-radius: 15px;
		position: relative;
		border: 1px solid rgba(black, 0.2);
		padding: 0 15px;
		height: 340px;
		overflow: hidden;
	}
	.btn-def{
		border-radius: 0;
		width: 100%;
		left: 0;
		a{
			padding: 10px 10px;}
		font-size: 1.2em;
		font-weight: 600;
		bottom: 0;
		position: absolute;
	}
}


.catalog-article-tabs{
	@extend .border-def;
	.wrapper{
		overflow: hidden;
		border-radius: 15px;
		background-color: white;
	}
	li.active{
		a{
			border: none !important;
			border-radius: 0 !important;
			background-color: $color-1 !important;
			color: white !important;
		}
	}
	.nav{
		background-color: white;
	}
	.tab-content{
		padding: 20px 0;
	}
	ul{
		display: flex;
	}
	li{
		border: 1px solid rgba($color-gray-2, 0.4);
		text-align: center;
		display: inline-block;
		float: none;
    flex-basis: 100%;
		a{
			margin: 0;
			height: 100%;
		}
	}
	@media (max-width: 991px) {
		ul{
			flex-wrap: wrap;
		}
	}
	@media (min-width: 992px) {
		white-space: nowrap;
	}
}
p{
	font-family: $font-family-2;
}

//--about
.about{
	.text-content{
		column-count: 2;
	}
}
@keyframes brightnessPulse{
	to, from{
		filter: brightness(100%);
	}
	50%{
		filter: brightness(130%);
	}
}
.short-advantages-items{
	figure{
		font-size: 0.98em;
		padding: 0 10px;
		width: 100%;
		&:hover{
			.img-content{
				animation: brightnessPulse 2s ease-in-out infinite;
			}
		}
	}
}
//--partners
.partners-items{
	figure{
		.img{
			background-size: contain;
			background-position: center;
			height: 170px;
		}
	}
}
.color-discount{
	font-weight: 700;
	font-size: 1.3em;
	color: #e53935;
}



.contacts{
	.container{
		background-repeat: no-repeat;
	}
}