/*
	_content.css
*/

.entry-header{
	@extend .parag-gray;
}


//--bnr-slider
.bnr-slider{
	$slider-height: 520px;
	position: relative;
	overflow: hidden;
	.flickity-slider{
		transform: inherit !important;
	}
	.bnr-carousel{
		background-color: white;
		background-repeat: no-repeat;
		position: relative;
		background-size: cover;
		background-position: center center;
	}
	figure{
		height: $slider-height;
		transition: all 2s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			.img{
				filter: blur(0);
			}
		}
	}
	p{
		line-height: 200%;
	}
	.carousel-content{
		.pie-flex-center{
			height: $slider-height;
		}
	}
	//Навигация
	.flickity-page-dots{
		margin-bottom: 70px;
	}
	// Стрелки
	.flickity-prev-next-button{
		color: $color-1;
	}
	//Кастомные стрелки
	.carousel-prev-next{
		width: ingerit;
		//((100/12)*8)+%
		left: 50%;
		transform: translateX(-50%);
		.bg-wrapper{
			bottom: 0;
			position: absolute;
			background-color: $color-2;
			height: 40px; 
		}
		.next, .prev{
			color: white;
			width: 50%;
			height: 100%;
			text-align: center;
			transform: translateY(-50%);
			transition: all 0.3s ease;
			.fa{
				padding-top: 10px;
			}
			&:hover{
				background-color: $color-3;
				color: white;
			}
		}
		.prev{
			left: 0;
		}
		.next{
			right: 0;
		}
	}

	@media(max-width: 991px) {
		font-size: 0.9em;
		figure{
			height: 200px;
			.carousel-content{
				display: none;
			}
		}
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
	}
	@media(max-width:370px) {
		word-wrap: break-word;
	}
}




//short-popular
.short-popular-items{
	figure{
		//margin-left: -1px;
		position: relative;
	}
	.wrapper{
		padding: 1px;
	}
	h3{
		font-weight: 500;
	}
	.hover-content{
		overflow: hidden;
		//padding-top: 1px;
		.img, .cell-hover{
			transition: all 0.7s ease, filter 0.5s steps(30);
		}
		.cell-hover{
			background-color: rgba($color-2, 0.4);
		}
		&:hover{
			.img{
				transform: scale(1.1);
				filter: contrast(120%) blur(5px);
			}
		}
	}
	.img{

		background-position: center;
		background-size: cover;
		height: 256px;
	}
}

//short-places
.short-places{
	.entry-header{
		ul{
			@extend h1;
			&:after{
				display: none !important;
			}
			li{
				position: relative;
				&:not(:last-child){
					&:before{
						@extend .claf;
						content: "/";
						left: inherit;
						width: auto;
						right: -22.5px;
					}
				}
				&.active{
					a{
						background-color: $color-1;
						color: white;
					}
					&:before{
						color: black;
					}
				}
			}
			@media (max-width:991px) {
				li:before{
					display: none;
				}
			}
		}
		li{
			margin: 0 15px;
			
		}
		a{
			padding: 5px 7px;
			//display: block;
		}
	}
}
.short-places-items{
	margin-left: -15px;
	margin-right: -15px;
	.wrapper{
		//padding: 0 15px;
	}
	.img{
		transition: all 0.5s ease;
		height: 269px;
		background-size: contain;
		background-size: cover;
		background-position: center bottom;
	}
	figure{
		&:hover{
			.img{
				box-shadow: 0 0 20px -7px black;
				filter: brightness(110%) contrast(105%);
				//transform: scale(0.9);
			}
		}
	}

}
//.short-advantages
.short-advantages{
	background-color: $color-gray-1;
	@media (max-width:991px) {
		h1{
			&:after{
				margin: auto;
			}
		}
	}
}
.short-advantages-items{
	.boxes-cell{
		margin: 30px 0;
	}
}
.short-advantages-cnt{
	font-size: 30px;
	font-weight: 600;
	color: $color-1;
}
.short-advantages-bg{
	//width: 40vw;
	width: calc(50vw + #{(1140/4)+px} );
	left: ((100/12)*7)+%;
	position: absolute;
	background-size: cover;
	height: 100%;
	background-position: center;
	@media (max-width: 991px) {
		display: none;
	}
}	

//short-blog
.short-blog-items{
	.img{
		height: 220px;
		background-size: cover;
		background-position: center;
	}
	figure{
		.wrapper{
			background-color: white;
		}
	}
	.desc-content{
		min-height: 160px;
	}
}

//short-galleryphoto
.short-galleryphoto-items{
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	figure{
		width: 25%;
		//height: 220px;
		padding: 5px;
		.img{
			display: block;
			position: relative;
			background-position: center;
			background-size: cover;
		}
		@media (min-width: 992px) {
			&:nth-child(1){
				width: 50%;
				.img{
					height: 380px;
				}
			}
			&:nth-child(2){
				.img{
					height: 240px;
				}
			}
			&:nth-child(3){
				.img{
					height: 200px;
				}
			}
			&:nth-child(4){
				.img{
					height: 200px;
				}
			}
			&:nth-child(5){
				.img{
					height: 370px;
				}
			}
			&:nth-child(6){
				.img{
					height: 230px;
				}
			}
			&:nth-child(7){
				.img{
					height: 230px;
				}
			}
			&:nth-child(8){
				.img{
					height: 200px;
				}
			}
		}
		@media (max-width: 991px) {
			width: 100%;
			.img{
				height: 190px;
			}
		}
		.hover-content{
			overflow: hidden;
			.img{
				transition: all 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28), filter 0.5s steps(30);
			}
			&:hover{
				.img{
					transform: scale(1.1);
					filter: blur(2px) grayscale(1);
				}
			}
		}
	}
}


//.short-reviews
.short-reviews{
	.short-reviews-items{
		img{
			width: 123px;
			height: 123px;
		}
	}
}

//.short-partners
.short-partners-items{
	filter: grayscale(1);
	transition: filter 0.5s steps(30);
	&:hover{
		filter: grayscale(0);
	}
	.img{
		background-position: center;
		background-size: auto;
		height: 120px;
	}
	figure{
		padding-left: 15px;
		padding-right: 15px;
		width: (100/8)+%;
		@media (max-width:1199px){
			width: (100/6)+%;
		}
		@media (max-width:991px){
			width: (100/3)+%;
		}
		@media (max-width:450px){
			width: (90/1)+%;
		}

	}
}



//contacts
.list-flex{
	li{
		display: flex;
		align-items: center;
		&>span{
			display: block;
		}
	}
}
.contacts{
	line-height: 180%;
	.wrapper{
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
.contacts-info{
	margin-top: 30px;
}
.contacts-feedback{
	input, textarea{
		border: 1px solid rgba($color-gray-2, 0.5);
		border-radius: 2px;
		background-color: white;
	}
	input{
		height: 50px;
	}
	textarea{
		height: 210px;
	}
	.btn-def{
		border-radius: 2px;
		button{
			font-weight: 600;
			font-size: 1.25em;
			text-transform: uppercase;
			padding: 17px 85px;
		}
	}
}

.tours-items{
	figure{
		h3{
			line-height: 100%;
			margin-top: 0;
		}
	}
	.img{
		height: 256px;
		background-position: center;
		background-size: cover;
	}
	@media (max-width: 991px) {
		.img{
			background-size: contain;
		}
		.desc-content{
			margin: 15px 0;
		}
	}
}

//directions
.directions-nav{
	text-align: center;
	li{
		padding: 0 16px;
		position: relative;
		&:not(:last-child):after{
			content: "/";
			right: -4px;
			position: absolute;
			color: black;
		}
		&.active{
			color: $color-1;
		}
	}
}
//hotels
.hotels{
	.short-places-items{
		.img{
			height: 240px;
		}
	}
}
.hotels-nav{
	li{
		padding: 0 16px;
	}
	.select2-container{
		margin: 10px 10px;
	}
}
//blog
.blog-img{
	img{
		width: 100%;
	}
}

//createtour
.products-cnt-form{
	background-color: $color-gray-1;
	input{
		font-weight: 600;
		text-align: center;
		border: none;
		height: 100%;
		margin: 2px 0;
		width: 20px;
	}
	.minus, .plus{
		border: none;
		font-size: 20px;
		padding: 0px 10px;
		background-color: transparent;
	}
	.minus{
		float: left;
	}
	.plus{
		float: right;
	}
}

.createtour-form{
	textarea, input{
		border: 1px solid black;
		background-color: white;
	}

	.select2-container--default .select2-selection--single{
		background-color: $color-2;
		border-color: $color-2;
		border-radius: 0;
		height: auto;
		text-align: center;
		padding: 7px 0;
	}
}
.preferences{
	textarea{
		height: 220px;
	}
}
.createtour-feedback{
	input{
		margin-top: 10px;
		margin-bottom: 10px;
		height: 40px;
		display: inline-block;
		text-align: center;
	}
}
.cnt-human-title{
	display: inline-block;
	min-width: 100px;
}
.btn-def.big{
	border-radius: 2px;
	button{
		font-weight: 600;
		font-size: 1.25em;
		text-transform: uppercase;
		padding: 17px 85px;
	}
}